.App {
  text-align: center;
  margin: 0%;
}

.App > nav {
  width: 100vw;
  display: inline-flex;
  justify-content: space-around;
  text-decoration: none;
  align-items: center;
  padding: 10px;
  background-color: aquamarine;

}
.link {
  text-decoration: none;
  color:blueviolet;
  padding: 10px;
}

.link:focus {
  background-color: #e6e9ff;
}
